.checkins-wrapper
    h1 Check-ins
    .checkins-container
        // HEADER
        div.checkins-header
            .header-button.row.center-xs
                button(ng-link='["CheckinsCreate"]') Set up check-in
        // ACCORDION
        .checkins-accordion
            input#week-list(type='radio', name='week', checked='')
            input#Monday(type='radio', name='week')
            input#Tuesday(type='radio', name='week')
            input#Wednesday(type='radio', name='week')
            input#Thursday(type='radio', name='week')
            input#Friday(type='radio', name='week')
            input#Saturday(type='radio', name='week')
            input#Sunday(type='radio', name='week')
            ul.tabs
                li
                    label(for='week-list') QQ
                li
                    label(for='Monday') Mo
                li
                    label(for='Tuesday') Tu
                li
                    label(for='Wednesday') We
                li
                    label(for='Thursday') Th
                li
                    label(for='Friday') Fr
                li
                    label(for='Saturday') Sa
                li
                    label(for='Sunday') Su
            section.tab.all
                label(for='week-list') Questions List
                span(class="no-chekcins" ng-if="check.checkIns.length==0") There are no check-ins for this day
                checkin-List
                
            section.tab(ng-repeat='day in check.weekdays', ng-class="day.toLowerCase()")
                label(for=day) {{day}}
                span(class="no-chekcins" ng-if="check.checkIns.length==0") There are no check-ins for this day
                checkin-List